<!DOCTYPE html>
<!-- https://yeun.github.io/open-color/ -->
<!--https://bgjar.com/hexagon-->
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudflare Development Playground</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full min-h-screen bg-[#e8e6de] grid grid-rows-[auto,1fr,auto] grid-cols-[10%,1fr] gap-4 p-4">
<header class="col-span-2 bg-white p-4 rounded-lg flex justify-between items-center">
    {% include "header" %}
</header>

<nav class="bg-white p-4 rounded-lg">
    {% include "sidebar" %}
</nav>

<main class="bg-white rounded-lg">
    {% block content %}{% endblock %}
</main>

<footer class="col-span-2 bg-white p-4 rounded-lg flex items-center justify-between">
    {% include "footer" %}
</footer>
</body>
</html>
