{% extends "base" %}

{% block content %}
<section
        class="border-b border-blue-200 min-h-[20vh] w-full mb-8 rounded-t-lg flex flex-col items-center justify-center bg-[#EEEEEE] text-center text-gray-800">
    <h1 class="text-5xl font-bold mb-4 tracking-tight">
        What is the Gospel?
    </h1>
</section>

<p class="text-xl leading-relaxed  max-w-4xl mx-auto">
    Gospel means good news! The bad news is we have all sinned and deserve the wrath to come.</p>
<p class="text-xl leading-relaxed  max-w-4xl mx-auto">
    But Jesus the Messiah died for our sins, was buried, and then raised on the third day, according to the scriptures.</p>
<p class="text-xl leading-relaxed  max-w-4xl mx-auto">
    He ascended into heaven and right now is seated at the Father's right hand.</p>
<blockquote class="text-xl leading-relaxed max-w-4xl mx-auto my-8 pl-6 border-l-4 border-blue-500 italic text-gray-700">
    Jesus said, "I am the way, and the truth, and the life. No one comes to the Father except through me. The
    time is fulfilled, and the kingdom of God is at hand; repent and believe in the gospel."
</blockquote>
{% endblock content %}
